.Pokemon__All {
    float: left;
    margin: 10px;
    width: 28vw;
    height: 35vh;
    border: 2px solid #111;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  .Pokemon__Name {
    height: 6vh;
    display: flex;
    overflow: auto;
    align-items: center;
    justify-content: space-around;
    font-family: Arcade_Classic;
    font-size: 3vh;
    color: white;
    background-color: rgba(17, 17, 17, 0.5);
  }
  /* Cthulhu_Arcade  Arcade_Classic  Regular_Arcade  Old_Bits */
  
  .Pokemon__Genres {
    list-style: none;
    font-family: Regular_Arcade;
    font-size: 1vh;
    color: white;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    background-color: rgba(0, 0, 0, 0.794);
    justify-content: space-between;
  }
  